<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <!--Css personalizado-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Mascotas</title>
    
    <!--Bootstrap 5-->    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <!--Favicon-->
  <link rel="shortcut icon" href="img/icono/favicon.ico">

</head>
<!-- Creacion de la etiqueta style en el header -->
<body>

    <header>
        <!--Menu principal-->
        <nav class="navbar navbar-dark bg-nav">
            <div class="container">
              <a class="navbar-brand" href="/"><i class="bi bi-arrow-90deg-left"></i> Inicio</a>
              <h1 class="text-light">Adopción de mascotas</h1>
              <form class="d-flex">
                <a class="navbar-brand" href="/logout">Cerrar Sesión</a>
              </form>
            </div>
          </nav>
          <!--Fin Menu principal-->
    </header>

<div class="container rounded p-3">
    
<!--Formulario de ingreso de informacion a la base de datos-->
<div class="container  border-radius-x green-bg p-1">
    <h3>Crear productos</h3>
                    <form action="/add" method="POST">
                        <div class="col-md-6">
                            <input type="text" name="nombre" placeholder="Nombre mascota" class="form-control my-1">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="raza" placeholder="Raza" class="form-control my-1">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="genero" placeholder="Genero" class="form-control my-1">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="edad" placeholder="Edad" class="form-control my-1">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="foto" placeholder="Url Imagen" class="form-control my-1">
                        </div>
                        <div class="col-md-6">
                            <textarea name="perfil" cols="80" placeholder="Perfil" class="form-control my-1"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary my-2">
                               Agregar 
                        </button>
                    </form>
                
</div>

<!--Fin Formulario-->

<!--Tabla de mascotas-->
<div class="row g-3 mb-3 col-md-12">  
    <h3>Todas las mascotas</h3>      
            <table class="table table-bordered table-hover p-2 align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Raza</th>
                        <th class="text-center">Genero</th>
                        <th class="text-center">Edad</th>
                        <th class="text-center">Imagen</th>
                        <th class="text-center">Perfil</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < tasks.length ; i++) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= tasks[i].nombre %></td>
                            <td><%= tasks[i].raza %></td>
                            <td><%= tasks[i].genero %></td>
                            <td class="text-center"><%= tasks[i].edad %></td>
                            <td><a href="<%= tasks[i].foto %>" target="blank"><img class="rounded mx-auto d-block" src="<%= tasks[i].foto %>" height="100"></a></td>
                            <td><%= tasks[i].perfil %></td>
                            <td>
                                <div class="d-grid gap-2">
                                <a class="btn <%= tasks[i].status ? 'btn-info' : 'btn-success' %>" 
                                    href="/turn/<%= tasks[i]._id %>">
                                    <%= tasks[i].status ? 'Adoptado' : 'Disponible' %>
                                </a>
                                </div>
                                <div class="d-grid gap-2">
                                <a class="btn btn-outline-success my-1" href="/edit/<%= tasks[i]._id %>">Editar</a>
                                </div>
                                <div class="d-grid gap-2">
                                <a class="btn btn-outline-warning" href="/delete/<%= tasks[i]._id %>">Borarr</a>
                                </div>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-xxl border-radius-x green-bg my-4">
    <form method="get" action="/correo">
        <p class="text-center fs-5 p-4 listo" > 
            <button type="submit" class="btn btn-primary position-relative btn btn-success">Bandeja de Entrada
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                    <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                  <% var count = 0;%>
                    <% for (var i = 0; i < info.length  ; i++) { %>
                        <% if( info[i].status == false){%>   
                            <%count=count+1%>
                        <%}%>
                    <%}%>
                    <%if (count>0){%>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <a><%= count %></a>
                        </span>
                    <%}%>
              </button>
        </p>
    </form>
  </div>    
</div>
<%- include('partials/_footer') %> <!--Importa el layout header desde partials-->